@mixin not-found-container {
  .not-found-profile {
    position: absolute;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
  }

  .container {
    display: contents;
  }
  .not-found-content {
    padding: 0 140px;
    background-color: $white;
    height: 500px;
    border-radius: 10px;
    box-shadow: 0 2px 4px $grey;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    @media screen and (max-width: 1024px) {
      width: 90%;
      padding: 0 120px;
    }
    @media screen and (max-width: 767px) {
      padding: 0;
    }
  }

  h1 {
    color: $pink;
    font-size: 115px;
    line-height: 1;
  }
  p {
    color: $pink;
    font-size: 20px;
    margin: 0 20px 20px;
    text-align: center;
  }
}
