@mixin user-posts-container {
  .section-wapper {
    position: sticky;
    bottom: 0;
    left: 0;
  }
  .section-relative {
    position: relative;
  }

  section {
    bottom: 0;
    left: 0;
    max-height: calc(100vh + 64px);
    z-index: 1001;
  }

  .warpper-form {
    position: relative;
    width: 100%;
    height: 100svh;
    display: flex;
    flex-direction: column;
  }

  .user-posts {
    position: relative;
    margin: auto;
    padding: 32px;
    z-index: 1002;
  }

  .user-posts-content {
    position: relative;
    width: 70vw;
    margin: auto;
    box-shadow: 0 2px 4px $grey;
    border-radius: 12px;
    background: $white;
    display: flex;
    align-items: center;
    padding: 40px;
    & hr {
      margin-inline: 40px;
      height: 510px;
    }
    @media screen and (max-width: 1024px) {
      width: 83vw;
    }
    @media screen and (max-width: 767px) {
      flex-direction: column;
      & hr {
        margin: 30px 0 10px;
        height: 0;
        width: 100%;
      }
    }
    @media screen and (max-width: 540px) {
      padding: 45px 20px;
    }
    & .rounded {
      position: absolute;
      top: 5px;
      right: 5px;
      padding: 5px;
    }
  }

  .user-content-inputs {
    margin: auto;
    padding: 20px 5px;
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 28px;
    @media screen and (max-width: 767px) {
      width: 100%;
    }
  }
}

@mixin component-post-container {
  .modal-wrapper {
    padding: 16px;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $transparent_black;
  }
  .post-modal {
    position: relative;
    width: 800px;
    height: 440px;
    z-index: 1000;
    box-shadow: 0 2px 4px $grey;
    border-radius: 12px;
    background: $white;
    & .modal-button {
      position: absolute;
      top: 1px;
      right: 1px;
      padding: 2px;
      display: flex;
    }
    & .trash {
      top:auto;
      bottom: 10px;
      right: 10px;
    }
    @media screen and (max-width: 540px) {
      height: 100%;
    }
  }

  .post-modal-inner {
    display: flex;
    @media screen and (max-width: 540px) {
      flex-direction: column;
    }
  }
  .post-modal-avatar {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 16px;
    margin-bottom: 16px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-color: $transparent_pink_light;
    box-shadow: 0px 0px 38px -22px $transparent_black_dark;
  }

  .avatar {
    border-radius: 100px;
    width: 40px;
    height: 40px;
    object-fit: cover;
    border: 2px solid $pink;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
    background-color: $milky;
  }

  .post {
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    width: 50%;
    height: 440px;
    object-fit: cover;
    @media screen and (max-width: 540px) {
      border-top-right-radius: 12px;
      border-bottom-left-radius: 0;
      width: 100%;
      height: 240px;
    }
  }

  .post-modal-content {
    width: 50%;
    @media screen and (max-width: 540px) {
      width: 100%;
    }
  }
  .post-modal-texts {
    padding-left: 16px;
    & h1 {
      font-size: 20px;
      font-weight: 600;
    }
    & p {
      font-size: 16px;
      font-weight: 400;
      overflow: auto;
    }
  }
}
