@mixin container {
  .container {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    padding: 0 100px;
    @media screen and (max-width: 1620px) {
      padding: 0 60px;
    }
    @media screen and (max-width: 1440px) {
      padding: 0 40px;
    }
    @media screen and (max-width: 1024px) {
      padding: 0 32px;
    }
    @media screen and (max-width: 767px) {
      padding: 0 16px;
    }
  }
}

@mixin buttons-container {
  button {
    background-color: $white;
    color: $pink;
  }

  .contour-button {
    border: 1px solid $pink;
  }

  .contour-no-background-button {
    color: $white;
    background-color: unset;
    border: 1px solid $white;
  }

  .fill-pink-button {
    color: $white;
    background-color: $pink;
  }

  .no-background-no-contour-button {
    width: auto;
    padding: 0;
    background-color: unset;
    border: none;
  }

  .rounded {
    display: flex;
    padding: 10px;
  }

  .logo img {
    width: 55px;
    height: 50px;
  }
}
