@mixin header-container {
  header {
    background-color: rgb(250, 63, 63);
    backdrop-filter: 4px;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logo {
    width: 170px;
    height: 50px;
  }

  .content {
    display: flex;
  }

  .account-button {
    color: $black;
    width: 160px;
    height: 160px;
  }
}
