@mixin inputs-container {
  input,
  textarea,
  select {
    position: relative;
    width: 100%;
    border: 1px solid $grey;
    border-radius: 8px;
    outline: none;
    padding: 16px 10px 8px;
    font-weight: 500;
    font-size: 1em;
  }

  i {
    position: absolute;
    left: 0;
    margin: 12px 13px;
    padding: 0 2px;
    font-style: normal;
    color: $black;
    background-color: $white;
    transition: 0.5s;
    pointer-events: none;
  }

  input:focus ~ i,
  textarea:focus ~ i,
  input:valid ~ i,
  select:focus ~ i,
  select:valid ~ i,
  textarea:valid ~ i {
    transform: translateY(-21.5px);
    font-size: 0.8em;
  }

  .invalid {
    border: 1px solid $red;
  }
}

@mixin password-container {
  .password-suggestion {
    position: absolute;
    top: 70px;
    border-radius: 8px;
    padding: 15px 40px;
    background-color: $white;
    border: 1px solid $grey;
    z-index: 1;
  }

  h4 {
    margin-bottom: 5px;
  }
  li {
    padding: 1px;
    list-style: disc;
  }

  button {
    position: absolute;
    right: 5px;
    margin: 12px 13px;
  }
}

@mixin description-container {
  textarea {
    resize: none;
  }
}
@mixin selector-container {
  .selector-dropdown {
    top: 59px;
    position: absolute;
    z-index: 10;
    width: 50%;
    background-color: $white;
    border: 1px solid $grey;
    border-radius: 8px;
    padding: 0 10px;
    box-shadow: 0 2px 3px $grey;
    & button {
      text-align: start;
      width: 100%;
      padding: 10px 5px;
    }
  }
}
@mixin location-container {
  .select {
    display: flex;
    gap: 26px;
    flex-direction: column;
  }
}

@mixin language-select-container {
  #select_1,
  #select {
    cursor: pointer;
    position: relative;
    margin-right: 15px;
  }

  .select-field {
    display: flex;
    gap: 3px;
    align-items: center;
  }

  .select-img {
    width: 24px;
    height: 24px;
  }

  input {
    cursor: pointer;
    background-color: transparent;
    border: none;
    width: 30px;
    font-size: 20px;
    color: $white;
  }
  .selector-dropdown {
    position: absolute;
    right: 0;
    z-index: 10;
    min-width: 180%;
    background-color: $white;
    border: 1px solid $grey;
    border-radius: 8px;
    padding: 0 10px;
    box-shadow: 0 2px 3px $grey;
    & button {
      text-align: center;
      width: 100%;
      padding: 10px 5px;
    }
  }

  .isPosLeft {
    left: 0;
  }
}

@mixin avatar-container {
  .profile-circle {
    position: relative;
    width: 150px;
    height: 150px;
    background-color: $milky;
    border: 5px solid $pink;
    border-radius: 100px;
    font-weight: 500;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 5px $black;
    @media screen and (max-width: 600px) {
      width: 135px;
      height: 135px;
    }
    &:first-child {
      text-transform: uppercase;
    }
  }
  .profile-circle .fill-pink-button {
    border: 0;
    padding: 8px;
    border-radius: 50px;
    position: absolute;
    display: flex;
    right: 0;
    &.photo {
      background-color: $pink_to_light;
      bottom: 0;
    }
  }

  #fileElement {
    display: none;
  }
}

@mixin drag-file-container {
  #drop-area {
    border: 2px dashed $grey_lighter;
    border-radius: 20px;
    margin: 0 auto;
    text-align: center;
    width: 100%;
    height: 100%;
    min-height: 190px;
    padding: 3px;
  }

  .invalid {
    border-color: $red !important;
  }

  #drop-area.highlight {
    border-color: $pink;
  }

  .gallery {
    height: 100%;
    & :first-child {
      min-height: 190px !important;
    }
  }

  p {
    margin-bottom: 20px;
  }

  .my-form {
    padding: 5px;
    min-height: 190px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .addPost {
    min-height: 500px;
    &#drop-area {
      width: 50%;
    }
    & .gallery {
      & :first-child {
        min-height: 500px !important;
      }
    }
    @media screen and (max-width: 767px) {
      height: 50vh;
      &#drop-area {
        width: 100%;
      }
    }
  }

  #fileElem {
    display: none;
  }
}
