@mixin header-container {
  header {
    z-index: 2;
    width: 100vw;
    height: 72px;
    padding: 12px 0;
    position: fixed;
    box-shadow: 0 -1px 8px $black;
    animation: changeToDefault 1s both;
  }

  .isLimit {
    animation: changeColor 1s both;
  }

  @keyframes changeColor {
    from {
      background-color: $transparent_gray;
      backdrop-filter: blur(4px);
    }
    to {
      background-color: $pink;
    }
  }

  @keyframes changeToDefault {
    from {
      background-color: $pink;
    }
    to {
      background-color: $transparent_gray;
      backdrop-filter: blur(4px);
    }
  }

  .container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav {
    height: 100%;
    display: flex;
    align-items: center;
    gap: 16px;
    & button {
      color: $white;
    }
  }

  .logo {
    object-fit: contain;
    height: 100%;
  }

  .account-buttons {
    display: flex;
    gap: 10px;
    align-items: center;
  }

  #scrollArea {
    position: relative;
    top: var(--limit-length) px;
  }
}
